$purple: rgb(231, 28, 170);
$black: #353535;

body{
    background-color: $black !important;
}

.bg-transparent{
    background-color: transparent !important;
}

.btn-purple{
    background: $purple !important;
    color: white !important;
    padding: 10px 40px 10px 40px !important;
    border-radius: 25px !important;
}

.navbar{
    justify-content: space-between !important;
}

.nav-item{
    padding-left: 20px;
    padding-right: 30px;
}

.nav-link, .navbar-brand{
    color: $purple !important;
}

.nav-link{
    font-size: 20px;
    // border-style: solid !important;
    // border-width: 0.5px !important;
    // border-radius: 20px !important;
    // border-color: rgb(122, 122, 122) !important;
}

.navbar-brand{
    height: 110px;
}

.navbar-brand-text{
    margin-top: 25px; 
}

.firstDiv{
    height: 500px;
    padding: 50px;
    margin-bottom: 180px;   
}

.bigHeader{
    padding-right: 100px;
    padding-left: 100px;
    justify-content: center;
}

.bigHeader h1{
    font-size: 50px !important;
    color: #fff !important; 
    margin-top: 200px !important;
}

.btn-purple-grad{
    background: rgb(60,203,214);
    background: linear-gradient(139deg, rgba(60,203,214,1) 31%, rgba(231,28,170,1) 78%);
    // background: $purple !important;
    color: white !important;
    outline: none !important;
    border: none !important;
    border-radius: 40px !important;
    padding: 20px 40px 20px 40px !important;
    font-size: 18px !important;
    transition: all 1s ease-out !important;
}

.btn-purple-grad:hover{
    // transition: all 1s ease-out !important;
    background: rgb(231,28,170);
    background: linear-gradient(139deg, rgba(231,28,170,1) 31%, rgba(60,203,214,1) 78%);
}

.btn-purple-grad-2{
    // background: rgb(231,28,199);
    // background: linear-gradient(139deg, rgba(231,28,199,1) 34%, rgba(255,255,255,1) 82%);
    background: $purple !important;
    color: white !important;
    outline: none !important;
    border: none !important;
    border-radius: 40px !important;
    padding: 20px 40px 20px 40px !important;
    font-size: 18px !important;
}

.btn-purple-grad-3{
    background: rgb(60,203,214);
    background: linear-gradient(139deg, rgba(60,203,214,1) 31%, rgba(231,28,170,1) 78%);
    // background: $purple !important;
    color: white !important;
    outline: none !important;
    border: none !important;
    border-radius: 40px !important;
    padding: 10px 40px 10px 40px !important;
    font-size: 18px !important;
}

.featureDiv{
    height: 400px;
    margin-bottom: 70px;
}

.keyPara{
    font-size: 25px !important;
    color: #ada5b6;
}

.stacks{
    display: flex;
    justify-content: space-evenly;
}

.stacks img{
    height: 80px;
}

.inviteSec{
    // background:rgb(231, 28, 170);
    background: rgb(231,28,170);
    background: linear-gradient(139deg, rgba(231,28,170,1) 27%, rgba(61,241,255,1) 74%);
    height: 300px;
    text-align: center;
    padding: 70px;
    margin-bottom: 100px;
}

.bigHeader h2{
    color: #fff !important; 
}

.page-footer{
    // background: black !important;
}

.footer-items h5, .footer-items h4, .footer-items p, .footer-items a{
    color: white !important;
}

.footer-item a{
    color: white !important;
    text-decoration: none !important;
}

.footer-brand{
    height: 150px;
}

table{
    background: #474747 !important;
}

th, td{
    color: white !important;
}

.commandBox{
    padding: 20px;
}